 <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{ "/static/images/carousel1.jpg" | prepend: site.baseurl }}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Fin Fishing Team</h1>
              <p>We are the fin fishing team. We like to go fishing because its fun and we like fish. Why don't you learn more about the fish we like</p>
              <p><a class="btn btn-lg btn-primary" href="{{"/about" | prepend: site.baseurl }}" role="button">Learn more about us</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{ "/static/images/carousel2.jpg" | prepend: site.baseurl }}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Gallery</h1>
              <p>Check out these sweet pics</p>
              <p><a class="btn btn-lg btn-primary" href="/gallery" role="button">Gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{ "/static/images/carousel4.jpg" | prepend: site.baseurl }}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Contact Us</h1>
              <p>Contace us here for sponsors and junk</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Contact Page</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->